
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}



<!DOCTYPE html>
<html>
<head>
    <title>AfetKayit</title>

</head>
<body>
    <div>

    </div>
    <div>

        <a href="/Afet/YeniAfet"><img src="~/img/afet.jpg" style="margin-right:50px;margin-top:150px;margin-left:400px;" /></a>

    </div>
    <button class="btn btn-info" style="margin-left:480px;margin-top:20px;"><a href="/Afet/YeniAfet">Afet Kayıt Sistemi </a>  </button>

</body>
</html>
